.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.image-card {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.boat-details {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}

.boat-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-top: 10px;


  .boat-image {
    max-width: 55%;
    height: auto;
    border-radius: 7px;
  }

  .booking-card {
    width: 25%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
    margin-left: 50px;
  }
}

input[type="submit"] {
  background-color: #4cc7e3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


input[type="submit"]:hover {
  background-color: #2980b9;
}


.boat-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.boat-bookings {
  font-size: 16px;
}

.rating-dropdown {
  width: 100px;
  padding-top: 15px;
}

.form-description {
  width: 300px;
  padding-top: 15px;
}

.form-group {
  padding-top: 15px;
}

.reviews-section {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.review {
  margin-bottom: 15px;
}

.leave-review {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}


.boat-description {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.specs-container {
  display: flex;
  justify-content: space-between;
}

.specs-column {
  flex-basis: calc(50% - 20px); /* Adjust the width as needed */
}

.specs-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.specs-card i {
  font-size: 24px;
  margin-right: 10px;
}

.specs-card p {
  margin: 0;
}
