<%= simple_form_for [@boat, @booking], remote: true do |f| %>
  <%= f.input :date_range, label: 'When would you like to rent?', placeholder: 'Pick desired dates', input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :message, label: 'Message', placeholder: 'Leave a message...', input_html: { rows: 4 } %>
  <p>Total Price: €</p>
  <%= f.button :submit %>
<% end %>
