<!-- app/views/users/dashboard.html.erb -->
<h1>Welcome to Your Dashboard, <%= @user.email %></h1>

<h2>Your Boats:</h2>
<% if @boats.any? %>
  <ul>
    <% @boats.each do |boat| %>
      <li><%= boat.name %></li>
    <% end %>
    <li><%= link_to "Create new listing", new_boat_path, style: "text-decoration:none" %></li>
  </ul>
<% else %>
  <p>You have no boats.</p>
<% end %>

<h2>Your Booking Requests:</h2>
