<div class="container mt-1">
  <div class="row">
    <!-- Boats Cards (2/3 of the page) -->
    <div class="col-md-8">
      <div class="row">
        <% @boats.each do |boat| %>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <% if boat.images.attached? %>
                <%= cl_image_tag(boat.images.first.key, width: 300, height: 200, crop: :fill, class: 'card-img-top') %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to boat.name, boat_path(boat) %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Placeholder for Map (1/3 of the page) -->
    <div class="col-md-4">
      <!-- Placeholder for the map -->
     <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
